.header_container {
    width: 100%;
    height: 70px;
    background: #000;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
}
.nav_btn {
    display: none;
    cursor: pointer;
    font-size: 2rem;
}
.header_title {
    color: #fff;
}
.nav_container a {
    color: #fff;
}
.nav_container a:hover {
    color: blue;
}
.nav_container .item_container {
    display: flex;
    gap: 20px;
}
.item_container span{
    color: #fff;
    cursor: pointer;
}
.item_container span:hover{
    color: blue;
}
@media only screen and (max-width: 900px) {
    .nav_btn {
        display: block;
        color: #fff;
    }
    .nav_container {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 70px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #181818;
        transform: translateX(100%);
        width: 100%;
        max-width: 300px;
        z-index: 10;
        transition: transform 0.5s;
    }
    .nav_container.active {
        transform: translateX(0);
    }
    .item_container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}
